/*Bronnen:
Uitleg tijdens de lessen
https://css-tricks.com/
https://stackoverflow.com/
https://codersblock.com/blog/creating-glow-effects-with-css/*/

body {
    background-color: #28251D;
}

#oog1 {
    position: absolute;
    width: 200px;
    margin-top: 20px;
    margin-left: 5%;
}

#oog2 {
    position: absolute;
    width: 200px;
    margin-top: 430px;
    margin-left: 5%;
}

#oog3 {
    width: 200px;
    margin-top: 14px;
    margin-left: 75%;
}

#oog5 {
    width: 150px;
    margin-top: -30px;
    margin-left: 70%;
}

#oog6 {
    width: 100px;
    margin-top: 160px;
    margin-left: 90%;
}

#oog1:hover,
#oog2:hover,
#oog3:hover,
#oog5:hover,
#oog6:hover {
    animation: Schudden 8ms linear infinite;
}

@keyframes Schudden {
    0% {
        transform: translate(5px, 0);
    }
    50% {
        transform: translate(-6px, 0);
    }
    100% {
        transform: translate(3px, 0);
    }
}

.driehoek {
    position: absolute;
    width: 200px;
    margin-top: 150px;
    margin-left: 80%;
    animation: invliegen 2s forwards;
    transition: transform .8 ease;
    /*    transition: transform .8 cubic-bezier(.38, .65, .44, 1.49);*/
}

@keyframes invliegen {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0px);
    }
}

.driehoek:hover {
    box-shadow: inset 0 0 50px #28251D, inset 20px 0 80px #A63526, inset -20px 0 80px #C6B797, inset 20px 0 300px #A63526, inset -20px 0 300px #C6B797, 0 0 50px #28251D, -10px 0 80px #A63526, 10px 0 80px #C6B797;
}

.driehoek:active {
    animation: draai 0.9s linear infinite;
}

@keyframes draai {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#Lichaamklein {
    height: 0px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: left;
    position: absolute;
    z-index: -9;
    color: white;
    font-size: 3em;
    margin-top: 220px;
    margin-left: 5%;
    width: 30%;
    font-family: 'Dancing Script', cursive;
    transition: color 0.7s ease;
    animation: fadeIn 12s forwards;
}

p:nth-of-type(2) {
    font-weight: 400;
    text-align: right;
    margin-left: 65%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*Veranderen van de tekst kleur dmv toetsenbord*/

.tekstkleur {
    color: #A63526;
}


/*Animaties*/

#oog1 {
    animation: bounce 6s infinite;
}

#oog2 {
    animation: bounce 5.9s infinite;
}

#oog6 {
    animation: bounce 6.4s infinite;
}

#oog5 {
    animation: bounce 6.75s infinite;
}

#oog3 {
    animation: bounce 8s infinite;
    position: absolute;
    z-index: -3;
}

@keyframes bounce {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    0%,
    20%,
    50%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-40px);
    }
    60% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(-40px);
    }
}

@media (min-width: 60em) {
    /*Stand van de lijnen en de animatie ervan*/
    .lijn1 {
        transform: rotate(50deg);
        position: absolute;
        width: 645px;
        margin-top: -90px;
        margin-left: 250px;
        opacity: 0;
    }
    .lijn2 {
        transform: rotate(5deg);
        position: absolute;
        width: 860px;
        margin-top: -0px;
        margin-left: 180px;
        opacity: 0;
    }
    .lijn3 {
        transform: rotate(20deg);
        position: absolute;
        width: 590px;
        margin-top: 10px;
        margin-left: 1020px;
        opacity: 0;
    }
    .lijn4 {
        transform: rotate(210deg);
        width: 390px;
        position: absolute;
        margin-top: -110px;
        margin-left: 820px;
        opacity: 0;
    }
    .lijn5 {
        transform: rotate(270deg);
        position: absolute;
        width: 200px;
        margin-top: -60px;
        margin-left: 400px;
        opacity: 0;
    }
    .lijn-animatie {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: lijn 5s linear forwards;
    }
}

@media (max-width: 60em) {
    #oog3 {
        z-index: 4;
        width: 200px;
        margin-top: 14px;
        margin-left: 75%;
    }
    #Lichaamklein {
        height: 0px;
        width: 500px;
        margin-left: 0%;
        margin-right: auto;
    }
    #oog3 {
        width: 200px;
        margin-top: 14px;
        margin-left: 95%;
    }
    #oog5 {
        width: 150px;
        margin-top: -30px;
        margin-left: 90%;
    }
    #oog6 {
        width: 100px;
        margin-top: 160px;
        margin-left: 130%;
    }
    p:nth-of-type(2) {
        font-weight: 400;
        text-align: right;
        margin-left: 110%;
    }
    .lijn1 {
        transform: rotate(90deg);
        position: absolute;
        width: 255px;
        margin-top: 100px;
        margin-left: 90px;
        opacity: 0;
    }
    .lijn2 {
        transform: rotate(-20deg);
        position: absolute;
        width: 310px;
        margin-top: 280px;
        margin-left: 120px;
        opacity: 0;
    }
    .lijn3 {
        transform: rotate(180deg);
        position: absolute;
        width: 190px;
        margin-top: 190px;
        margin-left: 315px;
        opacity: 0;
    }
    .lijn4 {
        transform: rotate(210deg);
        position: absolute;
        width: 90px;
        margin-left: 290px;
        opacity: 0;
    }
    .lijn5 {
        transform: rotate(270deg);
        position: absolute;
        width: 200px;
        margin-top: -60px;
        margin-left: 320px;
        opacity: 0;
    }
    .lijn-animatie {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: lijn 5s linear forwards;
    }
}

@keyframes lijn {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}
